// ============================================ Light Theme.
.add-task-wrapper {
    @extend %fixed-parent-el;

    .add-task-container {
        background-color: $lt-sidebar-bg;
        color: darken($lt-text-light, 20%);
        @extend %padding;
        min-width: 300px;
        max-width: 300px;
        min-height: 400px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
        transition: $transition;


        @media (min-width: 411px) {
            min-width: 350px;
            max-width: none;
            min-height: 450px;
        }


        @media (min-width: 768px) {
            min-height: 500px;
        }


        // ============= H1.
        h1 {
            font-size: 1.1rem;
            font-weight: $font-bold;
            margin-bottom: 1rem;
        }


        // ============= Form.
        .add-form {

        }
    }
}


// ============================================ Dark Theme.
.add-task-wrapper-dark {
    .add-task-container {
        background-color: $dt-sidebar-bg;
        color: $dt-text;
    }
}


/*
.add-task-wrapper {

    .add-task-container {


        .add-form {
            display: grid;
            gap: 1rem;

            .form-group {
                display: grid;
                gap: 1rem;

                label {}

                input {
                    background-color: #e7e7e7;
                }

                textarea {
                    background-color: #e7e7e7;
                }

                p {
                    color: red;
                }

                select {}
            }

            .subtasks-container {
                display: grid;
                gap: 1rem;

                input {}

                button {}
            }

            button {
                background-color: $lt-menu-hover;
                color: $lt-main-bg;
                padding: 0.7rem 0;
                border-radius: 10px;
            }
        }
    }
}



// ============================================ Dark Theme.
.add-task-wrapper-dark {
    .add-task-container {
        
        
        box-shadow: rgba(141, 141, 141, 0.2) 0px 2px 8px 0px;

        h1 {}


        .add-form {


            .form-group {

                label {}

                input {}

                textarea {}

                p {}

                select {}
            }

            .subtasks-container {

                input {}

                button {}
            }
        }
    }
}

*/