// ======= Typography.
$font: 'Plus Jakarta Sans', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;


// ======= Colors.
// Light-theme.
$lt-main-bg: #f2f6fd;
$lt-secondary-bg: #ffffff;
$lt-borders: #e5ecfa;
$lt-text: #000114;
$lt-text-light:#818ea2;
$lt-input-placeholder:#000114;
$lt-menu-hover:#6460c7;
$lt-checkbox-bg:#f2f6fd;

$lt-sidebar-bg: #ffffff;
$lt-boards-bg: #f2f6fd;
$lt-purple: #635fc7;
$lt-purple-fade: #d7d6f0;
$lt-gray: #818ea2;







// Dark-theme.
$dt-main-bg:#20212c;
$dt-secondary-bg: #2b2c36;
$dt-borders: #3d3e4d;
$dt-text: #ffffff;
$dt-text-dark:#818ea2;
$dt-input-placeholder:#ffffff;
$dt-menu-hover:#ffffff;
$dt-checkbox-bg:#20212c;


$dt-sidebar-bg: #2b2c36;
$dt-boards-bg: #20212c;
$dt-purple: #635fc7;
$dt-purple-fade: #d7d6f0;
$dt-gray: #818ea2;