.show-sidebar-container {
    background-color: $dark-theme-purple;
    color: $almost-white;
    display: none;
    padding: 0.7rem 1rem 0.7rem 0.6rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    transition-delay: 0.25s;

    &:hover {
        background-color: lighten($dark-theme-purple, 10%);
    }


    @media (min-width: 1000px) {
        display: inline-block;
        position: fixed;
        bottom: 4.5rem;
        left: 0;
    }
}


.show-sidebar-container-hide {
    @media (min-width: 1000px) {
        left: -100px;
    }
}