.task-details-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    .task-details-container {
        background-color: $lt-sidebar-bg;
        min-width: 300px;
        min-height: 400px;
        padding: 1rem;
        border-radius: 10px;

    }
}