// ============================================ Light Theme, Default Theme.
.tasks-wrapper {

    // ========= Topbar Container.
    .topbar-container {
        background-color: $lt-sidebar-bg;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 0.9rem 1.5rem;
        transition: $transition;

        @media (min-width: 1000px) {
            display: flex;
        }

        h3 {
            color: darken($lt-text-light, 20%);
            font-size: 1.2rem;
            font-weight: $font-bold;
            transition: $transition;
        }


        // ====== Topbar Buttons.
        .topbar-btns {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;


            .add-btn {
                background: #cdcfef;
                color: $lt-secondary-bg;
                font-size: 0.9rem;
                font-weight: $font-bold;
                display: inline-flex;
                padding: 0.75rem 1.4rem;
                border-radius: 50px;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background: darken(#cdcfef, 10%);
                }
            }


            // ====== Dropdown.
            .dropdown-wrapper {
                .dropdown-container {
                    background-color: $dt-main-bg;
                    display: grid;
                    justify-items: start;
                    gap: 1rem;
                    position: absolute;
                    top: 35px;
                    right: 15px;
                    width: 170px;
                    height: 110px;
                    padding: 1.2rem 1rem;
                    border-radius: 10px 0 10px 10px;
                    transform: scale(1, 1);
                    transform-origin: top;
                    transition: $transition;

                    @media (min-width: 768px) {
                        top: 50px;
                        right: 20px;
                    }

                    button {
                        background: transparent;                        
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }

                    .edit-board-btn {
                        color: #d8e2dc;
                    }

                    .delete-board-btn {
                        color: #ef233c;
                    }
                }
            
                .dropdown-container-hide {
                    transform: scale(1, 0);
                }
            }


            .mobile-menu {
                background: none;
                color: darken($lt-text-light, 20%);
                font-size: 1.9rem;
                display: inline-flex;
                height: 20px;
                cursor: pointer;
            }
        }
    }


    // ========= Tasks container.
    .tasks-container {
        height: calc(100vh - 4.3rem);
        @extend %padding;

        @media (min-width: 1000px) {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-auto-rows: auto;
            gap: 2rem;
        }


        .status-group {
            overflow-y: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            
            h1 {
                margin-bottom: 1.5rem;
                span {
                    display: inline-block;
                    background-color: green;
                    width: 12px;
                    height: 12px;
                    border-radius: 50px;
                }
            }

            .status-cards-container {
                .task-card {
                    background-color: red;
                    padding: 1rem;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: $transition;

                    h2 {
                        font-size: 1.1rem;
                    }

                    p {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .new-column-btn {
            
        }

        .new-column-btn-full-width {
            grid-column: 1 / -1;
        }
    }


    .tasks-container-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 4.3rem);
    }
}



// ============================================ Dark Theme.
.tasks-wrapper-dark {
    // ========= Topbar Container.
    .topbar-container {
        background-color: $dt-sidebar-bg;
        color: $dt-text;

        h3 {
            color: $dt-text
        }


        // ====== Topbar Buttons.
        .topbar-btns {
            .add-btn {
                background: $dt-purple;
                color: $lt-main-bg;

                &:hover {
                    background: lighten($dt-purple, 10%);
                }
            }
            .dropdown-wrapper {
                .dropdown-container {
                    background-color: $lt-main-bg;

                    .edit-board-btn {
                        color: #344e41;
                    }
                }
            }
            .mobile-menu {
                color: darken($dt-text, 20%);
            }
        }
    }
}


/*
.tasks-wrapper {

    // ======================= Top bar container.
    .topbar-container {

        .topbar-interactive {
            display: flex;
            align-items: center;


            .dropdown-wrapper {
                position: relative;
            }
        }
    }

    // ======================= Tasks container.
    .tasks-container {

        .status-group {
            .status-cards-container {
                display: grid;
                gap: 1rem;
                max-height: none;
                transition: $transition;

                .task-card {
                    background-color: blue;
                    padding: 1rem;
                    border-radius: 10px;
                }
            }

            .status-cards-container-hide {
                max-height: 0;
                overflow: hidden;
                transition: $transition;
            }
        }
    }
}
*/