// ============================================ Light Theme, Default Theme.
.tasks-wrapper {

    // ========= Topbar Container.
    .topbar-container {
        background-color: $lt-sidebar-bg;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 0.9rem 1.5rem;
        transition: $transition;

        @media (min-width: 1000px) {
            display: flex;
        }


        .topbar-info {
            display: flex;
            align-items: center;
            gap: 0.5rem; 


            .topbar-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                position: initial;
                transition: $transition;
                transform: scale(1, 1);

                .line {
                    width: 6px;
                    height: 25px;
                    margin: 0 2px;
                    background-color: #635fc7;
                    border-radius: 3px;
            
                    &:nth-child(2) {
                        background-color: #8a87d5;
                    }
            
                    &:nth-child(3) {
                        background-color: #b1afe3;
                    }
                }
            }

            .topbar-logo-hide {
                position: absolute;
                transform: scale(0, 0);
            }

            h3 {
                color: darken($lt-text-light, 20%);
                font-size: 1.2rem;
                font-weight: $font-bold;
                transition: $transition;
            }
        }


        // ====== Topbar Buttons.
        .topbar-btns {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;


            .add-btn {
                background: $dt-purple;
                color: $lt-main-bg;
                font-size: 0.9rem;
                font-weight: $font-bold;
                display: inline-flex;
                padding: 0.75rem 1.4rem;
                border-radius: 50px;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background: lighten($dt-purple, 10%);
                }
            }


            // ====== Dropdown.
            .dropdown-wrapper {
                .dropdown-container {
                    background-color: $dt-main-bg;
                    display: grid;
                    justify-items: start;
                    gap: 1rem;
                    position: absolute;
                    top: 35px;
                    right: 15px;
                    width: 170px;
                    height: 110px;
                    padding: 1.2rem 1rem;
                    border-radius: 10px 0 10px 10px;
                    transform: scale(1, 1);
                    transform-origin: top;
                    transition: $transition;

                    @media (min-width: 768px) {
                        top: 50px;
                        right: 20px;
                    }

                    button {
                        background: transparent;                        
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }

                    .edit-board-btn {
                        color: #d8e2dc;
                    }

                    .delete-board-btn {
                        color: #ef233c;
                    }
                }
            
                .dropdown-container-hide {
                    transform: scale(1, 0);
                }
            }


            .mobile-menu {
                background: none;
                color: darken($lt-text-light, 20%);
                font-size: 1.9rem;
                display: inline-flex;
                height: 20px;
                cursor: pointer;
            }
        }
    }


    // ========= Tasks container.
    .tasks-container {
        min-height: calc(100vh - 4.3rem);
        @extend %padding;

        @media (min-width: 1000px) {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-auto-rows: auto;
            gap: 2rem;
        }


        .status-group {
            overflow-y: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            
            h1 {
                color: $lt-text;
                display: flex;
                align-items: center;
                gap: 0.7rem;
                margin-bottom: 1.5rem;
                transition: $transition;

                span {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin-left: 0.5rem;
                    border-radius: 50px;
                }

                .todo-span {
                    background-color: #49c4e5;
                }

                .doing-span {
                    background-color: #67e2ae;
                }

                .done-span {
                    background-color: #8471f2;
                }
            }

            .status-cards-container {
                .task-card {
                    background-color: $lt-sidebar-bg;
                    color: darken($lt-text-light, 20%);
                    max-width: 400px;
                    @extend %padding;
                    border-radius: 10px;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    cursor: pointer;
                    transition: $transition;

                    h2 {
                        font-size: 1.05rem;
                        font-weight: $font-bold;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .add-column-btn {
            background-color: darken($lt-main-bg, 0.5%);
            color: darken($lt-text-light, 20%);
            font-size: 1.05rem;
            font-weight: $font-bold;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            transition: $transition;
        }

        .new-column-btn-full-width {
            grid-column: 1 / -1;
        }
    }


    .tasks-container-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 4.3rem);
    }
}



// ============================================ Dark Theme.
.tasks-wrapper-dark {
    // ========= Topbar Container.
    .topbar-container {
        background-color: $dt-sidebar-bg;
        color: $dt-text;

        .topbar-info {
            h3 {
                color: $dt-text
            }
        }


        // ====== Topbar Buttons.
        .topbar-btns {
            .dropdown-wrapper {
                .dropdown-container {
                    background-color: $lt-main-bg;

                    .edit-board-btn {
                        color: #344e41;
                    }
                }
            }
            .mobile-menu {
                color: darken($dt-text, 20%);
            }
        }
    }


    // ========= Tasks container.
    .tasks-container {
        .status-group {
            h1 {
                color: $dt-text;
            }

            .status-cards-container {
                .task-card {
                    background-color: $dt-sidebar-bg;
                    color: $dt-text;
                    box-shadow: rgba(141, 141, 141, 0.2) 0px 2px 8px 0px;
                }
            }
        }

        .add-column-btn {
            background-color: lighten($dt-sidebar-bg, 0.5%);
            color: $dt-text;
            box-shadow: rgba(141, 141, 141, 0.2) 0px 2px 8px 0px;
        }
    }
}