.add-task-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    &.add-task-wrapper-hide {
        display: none;
    }


    .add-task-container {
        background-color: $dark-grayish-blue;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 300px;
        min-height: 400px;
        border-radius: 10px;

        &.add-task-container-light {
            background-color: $white;
        }
    }
}