.sidebar-wrapper {
    background-color: $dark-grayish-blue;
    @include colorTransition;

    &.sidebar-wrapper-light {
        background-color: $white;

        .logo-wrapper {
            .logo-container {
                .logo {
                    @media (min-width: 768px) {
                        background: url("../Assets/logo-light.svg") center/cover no-repeat;
                    }
                }

                h3 {
                    @media (min-width: 768px) {
    
                        &::before {
                            background-color: $gray;
                        }
                    }
                }

                .open-btn {
                    color: $light-theme-purple;
                }
            }

            .mobile-btns
                .mobile-add {
                    background: $light-theme-purple;
                    color: $white;
                }

                .dropdown-wrapper {
                    .mobile-menu {
                        color: $gray !important;
                    }

                    .dropdown-container {
                        background-color: $white !important;

                        .edit-board-btn {
                            color: $gray !important;
                        }
                    }
                }
            }
        

        .sidebar-content-wrapper {
            .sidebar-content-container {
                background-color: $white;

                .active-boards-container {
                    cite {
                        color: darken($gray, 30%);
                    }

                    .active-boards {
                        .board-btn {
                            color: darken($gray, 25%);

                            &.active-board-btn {
                                background-color: $light-theme-purple;
                                color: $alice-blue;
                            }
                        }
                    }
                }

                .theme-btn-wrapper {
                    .theme-btn-container {
                        background: $light-theme-purple;

                        dfn {
                            color: $white;
                        }

                        .theme-switcher {
                            .theme-btn {
                                background: $light-theme-purple;
                            }
                        }
                    }

                    .hide-sidebar-btn {
                        color: $gray;
                    }
                }
            }
        }
    }


    // ================== Logo Wrapper.
    .logo-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;

        @media (min-width: 768px) {
            padding: 1.2rem 1.5rem;
        }


        // ====== Logo Container.
        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;


            .logo {
                background: url("../Assets/logo-mobile.svg") center/cover no-repeat;
                width: 25px;
                height: 25px;
                @include colorTransition;

                &.logo-hide {
                    width: 0;
                }

                @media (min-width: 768px) {
                    background: url("../Assets/logo-dark.svg") center/cover no-repeat;
                    width: 160px;
                    height: 25px;
                }
            }


            h3 {
                font-size: 1rem;
                font-weight: $main-font-semi-bold;
                letter-spacing: -0.3px;
                user-select: none;

                @media (min-width: 768px) {
                    height: 15px;

                    &::before {
                        content: "";
                        display: inline-block;
                        height: 100%;
                        width: 1px;
                        background-color: $medium-gray;
                        margin: 0 1rem 0 0.5rem;
                        opacity: 0.7;
                    }
                }

                @media (min-width: 1000px) {
                    display: none;
                }
            }

            
            .open-btn {
                background: transparent;
                color: $dark-theme-purple;
                font-size: 1.5rem;
                height: 25px;

                @media (min-width: 768px) {
                    font-size: 1.6rem;        
                }

                @media (min-width: 1000px) {
                    display: none;
                }
            }
        }


        // ====== Mobile Buttons.
        .mobile-btns {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.7rem;

            @media (min-width: 768px) {
                gap: 1rem;
            }

            @media (min-width: 1000px) {
                display: none;
            }


            .mobile-add {
                background: $almost-white;
                color: $dark-grayish-blue;
                font-size: 1.2rem;
                font-weight: $main-font-bold;
                display: inline-flex;
                padding: 0.15rem 0.4rem;
                border-radius: 50px;
                @include colorTransition;

                @media (min-width: 768px) {
                    font-size: 1rem;
                    padding: 0.6rem 1rem 0.6rem 0.6rem;

                    &::after {
                        content: "Add New Board";
                        font-size: 0.9rem;
                    }
                }
            }


            .dropdown-wrapper {
                .mobile-menu  {
                    background: none;
                    color: $almost-white;
                    font-size: 1.5rem;
                    display: inline-flex;
                    height: 25px;
                    @include colorTransition;

                    @media (min-width: 768px) {
                        font-size: 1.9rem;
                        height: 32px;
                    }
                }


                .dropdown-container {
                    position: absolute;
                    top: 35px;
                    right: 15px;
                    width: 170px;
                    height: 110px;
                    background-color: $dark-grayish-blue;
                    display: grid;
                    justify-items: start;
                    gap: 1rem;
                    padding: 1.2rem 1rem;
                    border-radius: 10px 0 10px 10px;
                    transform: scale(1, 1);
                    transform-origin: top;
                    transition: transform 0.25s ease-in-out;

                    &.dropdown-container-hide {
                        transform: scale(1, 0);
                    }

                    @media (min-width: 768px) {
                        top: 50px;
                        right: 20px;
                    }


                    button {
                        background: transparent;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        cursor: pointer;
                    }

                    .edit-board-btn {
                        color: $almost-white;
                    }

                    .delete-board-btn {
                        color: $red;
                    }
                }
            }
        }
    }


    // ================== Sidebar Content Wrapper.
    .sidebar-content-wrapper {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 1000px) {
            all: unset;
        }


        // ================== Sidebar Content Content.
        .sidebar-content-container {
            background-color: $dark-grayish-blue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 300px;
            max-width: 300px;
            min-height: 400px;
            border-radius: 10px;

            @media (min-width: 411px) {
                min-width: 350px;
                max-width: none;
                min-height: 450px;
            }

            @media (min-width: 768px) {
                min-height: 500px;
            }

            @media (min-width: 1000px) {
                all: unset;
                height: calc(100vh - (2.4rem + 25px));
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include colorTransition;
            }


            // ====== Active Boards Container.
            .active-boards-container {
                display: block;
                overflow-y: auto;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                margin-top: 1rem;

                @media (min-width: 1000px) {
                    margin-top: 2rem;
                }

                cite {
                    font-weight: $main-font-bold;
                    color: lighten($gray, 30%);
                    // display: block;
                    padding: 1.5rem 1.5rem;
                    font-size: 0.95rem;
                    @include colorTransition;
                }


                .active-boards {
                    margin-top: 1rem;
                    max-height: 300px;
                    overflow-y: auto;
                    scrollbar-width: none;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    opacity: 1;
                    @include colorTransition;
                    transition-delay: 0.215s;

                    @media (min-width: 1000px) {
                        max-height: 100%;
                    }

                    &.active-boards-hide {
                        opacity: 0;
                    }


                    .board-btn {
                        background: transparent;
                        color: $medium-gray;
                        font-size: 0.9rem;
                        font-weight: $main-font-semi-bold;
                        letter-spacing: 1px;
                        display: flex;
                        align-items: center;
                        gap: 0.7rem;
                        padding: 1rem 1.5rem;
                        @include colorTransition;
                        cursor: pointer;
                        border-top-right-radius: 45px;
                        border-bottom-right-radius: 45px;
                        width: 90%;

                        &.active-board-btn {
                            background-color: $dark-theme-purple;
                            color: $almost-white;
                        }
                    }
                }
            }


            // ====== Theme Button Wrapper.
            .theme-btn-wrapper {
                display: grid;
                justify-items: start;
                gap: 1rem;
                margin-top: 2rem;
                transition: transform 0.25s ease-in-out;
                transform: scale(1, 1);
                transform-origin: left;
                padding: 1rem;

                @media (min-width: 1000px) {
                    margin-bottom: 1.5rem;
                }

                &.theme-btn-wrapper-hide {
                    opacity: 0;
                    transform: scale(1, 0);
                }


                .theme-btn-container {
                    background: $dark-theme-purple;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1.35rem;
                    padding: 0.65rem 0;
                    border-radius: 10px;
                    width: 100%;

                    
                    dfn {
                        background: transparent;
                        color: $almost-white;

                        &:first-of-type {
                            font-size: 1.2rem;
                        }
                    }


                    .theme-switcher {
                        display: inline-block;
                        position: relative;
                        width: 40px;
                        height: 20px;
                        background: $almost-white;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        .theme-btn {
                            position: absolute;
                            left: 3px;
                            top: 3px;
                            width: 14px;
                            height: 14px;
                            background: $dark-theme-purple;
                            border-radius: 50%;
                            transition: all 0.3s ease-in-out;
                        }
    
                        .theme-btn-right {
                            left: 22px;
                        }
                    }
                }


                .hide-sidebar-btn {
                    background: transparent;
                    color: $medium-gray;
                    display: none;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.9rem;
                    letter-spacing: -0.3px;
                    margin-top: 0.5rem;
                    cursor: pointer;
                    transition: color 0.25s ease-in-out;

                    &:hover {
                        color: darken($medium-gray, 20%);
                    }

                    @media (min-width: 1000px) {
                        display: flex;
                    }
                }
            }
        }
    }

}