@import "config";
@import "sidebar";


.App {
    height: 100vh;
    height: 100dvh;
    transition: all 0.3s ease-in-out;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 30% 70%;
    }


    .left {
        background-color: red;
    }

    .right {
        background-color: blue;
    }
}