@import "config";
@import "sidebar";
@import "menu";
@import "showSidebar";
@import "tasks";
@import "addTask";


.App {
    height: 100vh;
    height: 100dvh;
    transition: $transition;
    background-color: $lt-main-bg;
}

.App-Dark {
    background-color: $dt-main-bg;
}


.sidebar-show {
    transition: $transition;

    @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    @media (min-width: 1300px) {
        display: grid;
        grid-template-columns: 15% 85%;
    }
}

.sidebar-hide {
    transition: $transition;

    @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: 0 100%;
    }

    @media (min-width: 1300px) {
        display: grid;
        grid-template-columns: 0 100%;
    }
}









.subtask-checkbox {
    display: flex;
    background-color: red;
    transition: all 0.25s ease-in-out;
}


.new-column-btn {
    background: linear-gradient(to bottom, #cfe2f8, #dce9f7, #e5ecfa);
    cursor: pointer;
}


.loading-lines-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;


    .line {
        width: 10px;
        height: 45px;
        margin: 0 3px;
        background-color: #635fc7;
        animation: loadingLines 2s ease-in-out infinite;
        transform-origin: bottom;
        border-radius: 10px;

        &:nth-child(2) {
            animation-delay: 0.2s;
            background-color: #8a87d5;
        }

        &:nth-child(3) {
            animation-delay: 0.5s;
            background-color: #b1afe3;
        }
    }
}



@keyframes loadingLines {
    0% {
        //height: 0%;
        transform: scaleY(0.3);
    } 50% {
        // height: 50px;
        transform: scaleY(1);
    }
    100% {
        // height: 50px;
        transform: scaleY(0.3);
    }
}