@import "config";
@import "sidebar";


.App {
    height: 100vh;
    height: 100dvh;
    transition: all 0.3s ease-in-out;
    background-color: $lt-borders;

    @media (min-width: 1000px) {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    @media (min-width: 1300px) {
        display: grid;
        grid-template-columns: 15% 85%;
    }
}
